
.game-layout {
    margin: 30px;
    width: 50%;
    margin-left: 25%;
}

.game-grid {
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
}

.column{
    width: 20%;
    float: left;
    border: 1px solid #555;
}
.column:hover {
    background-color: rgb(212, 170, 170);
}
.column p {
    text-align: center;
}
.message-section {
    text-align: center;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }